main {
    width: 80%;
    margin: auto;
}
h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}
p {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5em;
}
form textarea {
    width: 100%;
    border-bottom: 1px solid #d20094;
    background: transparent;
    resize: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: white;
    padding: 0.3em 1.8em;
    font-size: 0.8em;
    font-family: sans-serif ;
}
textarea:focus {
    outline: none;
}
.star {
    background: transparent;
    border: none;
    padding: 0.1em;
}
#starButton {
    text-align: center;
    margin-bottom: 4rem;
    border: none;
    cursor: pointer;
}
#info {
    text-align: center;
    font-size: 1.2em;
    color: #0B113B;
    background-color: #00FFFF;
    box-shadow: 2px -1px 39px -5px #00FFFF;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 1em 3em;
}
section {
    text-align: center;
    margin: 3rem;
}
.starClicked {
    fill: #00FFFF;
}