body{
    background-size: cover;
    background-image: url(../img/bg.jpg);
    padding-left: 10em;
    font-family: "Outfit", sans-serif;
}

.img {
    width: 20%;
    padding-top: 2em;
}
h1 {
    color: #ebebeb;
    font-size: 65px;

}
h3 {
    color: #d20094;
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0;
}

main{
    color: #ebebeb
    ;
}
ul{
    padding-top: 3%;
}
form{
    padding-top: 5%;
}