body{
    background-size: cover;
    background-image: url(../img/bg.jpg);
    padding: 3% 15%;
    font-family: "Outfit", sans-serif;
    
}

.img {
    width: 15%;
    padding-top: 1em;
    padding-bottom: 2em;
}
h1 {
    color: #ebebeb;
    font-size: 65px;
    font-weight: 400;
    line-height: 0.9em;
}
h3 {
    color: #d20094;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0em;
}

main{
    color: #ebebeb
    ;
}
#index button{
    text-align:right;
    font-size: 1.2em;
    color: #0B113B;
    background-color: #00FFFF;
    box-shadow: 2px -1px 39px -5px #00FFFF;
    border: none;
    font-weight: bold;
    padding: 1em 3em;
    margin-left: 30%
}

ul{
    padding-top: 2.5%;
    line-height: 1.7em;
}
form{
    padding-top: 4%;
}